<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    colors="true"
    stopOnFailure="false"
    backupGlobals="false"
    backupStaticAttributes="false"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    syntaxCheck="false"
    cacheTokens="true"
    verbose="false"
    bootstrap="tests/Bootstrap.php">
    <testsuites>
        <testsuite name="CITools Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">.</directory>
            <exclude>
                <file>Bootstrap.php</file>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./tests/tmp/report" lowUpperBound="35"
             highLowerBound="70"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
        <log type="testdox-html" target="tests/tmp/testdox.html"/>
        <log type="testdox-text" target="tests/tmp/testdox.txt"/>
    </logging>
</phpunit>